*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Merriweather', serif;
}
/* top navbar */
/* .top-navbar p{
    margin-top: 13px;
    margin-left: 15px;
} */

.top-navbar .icons{
    /* margin-top: 13px; */
    margin-right: 15px;
}
.top-navbar a:hover{
    color: black;
}

@media screen and (max-width:400px){

    .top-navbar a{
        font-size: 13px;
    }
    .top-navbar a img{
        width: 15px;
    }
    .top-navbar p{
        font-size: 13px;
    }
    
}


@media screen and (max-width:320px){

    .top-navbar a{
        font-size: 10px;
    }
    .top-navbar a img{
        width: 13px;
    }
    .top-navbar p{
        font-size: 10px;
    }
    
}


@media screen and (max-width:318px){

    .top-navbar a{
        font-size: 8px;
        margin-left: 0;
    }
    .top-navbar a img{
        width: 10px;
        margin-left: 0;
    }
    .top-navbar p{
        font-size: 10px;
        margin-top: 20px;
    }
    
}
.colorchange{
    animation-duration: 5s;
    animation-name: cc
}
@keyframes cc{
    0%{
        color: black;
    }
    15%{
        color: rgb(238, 255, 0);
    }
    20%{
        color: rgb(0, 225, 255);
    }
    25%{
        color: blue;
    }
    50%{
        color: rgb(255, 0, 191);
    }
    75%{
        color: rgb(30, 255, 0);
    }
    100%{
        color: rgb(255, 1, 1);
    }
}
/* topnavbar */

/* navbar */
#logo{
    margin-left: 15px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}
#logo span{
    color: rgb(61, 22, 201);
}
#logo #span1{
    font-size: 30px;
}
.navbar-nav{
    margin-left: 20px;
}
.nav-item{
    margin-left: 10px;
}
.nav-item .nav-link{
    color: white;
    margin-left: 2px;
    text-shadow: 0px 0px 1px black;
    transition: 0.3s ease;
}

.nav-item .nav-link:hover{
    color: rgb(0, 38, 255);
}
 
.dropdown-menu li a{
    color: white;
    transition: 0.5s ease;
}
.dropdown-menu li a:hover{
    background-color: rgb(33, 49, 190);
    color: rgb(255, 255, 255);
}

#search input{
    border-radius: 50px;
    border: none;
}
#search button{
    border-radius: 50px;
    background-color: rgb(20, 17, 179);
    border: 1px solid rgb(26, 15, 189);
    color: rgb(255, 255, 255)
}
/* navbar */

/* home content */
.home{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* position: relative; */
    background-color: rgba(207, 204, 204, 0.822);
    /* z-index: 0; */
}

.home .img{
    flex: 1 1 300px;
}
.home .img img{
    margin-top: 30px;
    width: 100%;
}

.home .content{
    flex: 1 1 400px;
    margin-top: 20px;
}
.content h1{
    color: black;
    font-weight: bold;
    margin-left: 23px;
    font-size: 60px;
    text-shadow: -1px 1px 1px black;
}
.content h1 span{
    color: rgb(37, 15, 240);
    text-shadow: 1px 1px 1px black;
}
#span2{
  color: orange;
}

.content p{
    margin-left: 23px;
}
.btn{
    margin-left: 23px;
}
.btn button{
    width: 150px;
    height: 32px;
    letter-spacing: 3px;
    background-color: rgb(38, 13, 180);
    color: white;
    border-radius: 5px;
    /* border: none; */
    transition: 0.5s ease;
    cursor: pointer;
}
.btn button:hover{
    background-color: orange;
    color: black;
    /* border: none; */
}

@media screen and (max-width:1200px) {
    .home{
        height: 90vh;
    }
}

@media screen and (max-width:799px) {
    .home{
        height: 140vh;
    }
}

@media screen and (max-width:550px) {
    .home{
        height: 130vh;
    }
}

@media screen and (max-width:420px) {
    .content h1{
        font-size: 45px;
    }
}
@media screen and (max-width:320px) {
    .content h1{
        font-size: 40px ;
    }
}
/* home  content */ 


/* products */
#product-cards{
    margin-top: 100px;
}
#product-cards h1{
    color: orange;
    text-shadow: 1px 1px 1px black;
    border-bottom: 1px solid orange;
}
#product-cards .card h3{
    font-size: 25px;
}
#product-cards .card p{
    font-size: 15px;
    margin-top: 5px;
    text-align: center;
}

.star i{
    margin-left: 5px;
    font-size: 13px;
}

.checked{
    color: orange;
}

#product-cards .card h2{
    font-size: 20px;
    margin-top: 20px;
}
#product-cards .card h2 span{
    float: right;
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    #product-cards .card h3{
        font-size: 18px;
    }
}
/* products */

/* other products */
#other-cards .card{
    background-color: rgb(202, 197, 197);
}

#other-cards .card h3{
    margin-top: 30px;
    margin-left: 10px;
    letter-spacing: 3px;
}

#other-cards .card h5{
    margin-top: 15px;
    font-weight: 100;
    font-size: 18px;
    margin-left: 10px;
    letter-spacing: 3px;
    border-bottom: 2px solid black;
    width: 240px;
}


#other-cards .card p{
    margin-top: 10px;
    font-weight: 100;
    font-size: 15px;
    margin-left: 10px;
    letter-spacing: 2px;
}
#shopnow{
    width: 130px;
    height: 30px;
    margin-top: 10px;
    background-color: blue;
    color: white;
    border: none;    
}

@media screen and (max-width:1000px) {
    #other-cards .card h3{
        margin-top: 5px;
        font-size: 20px;
    }
    #other-cards .card h5{
        margin-top: 5px;
        font-size: 15px;
    }

    #other-cards .card p{
        margin-top: 0px;
    }
    #shopnow{
        margin-top: 0px;
        width: 120px;
        height: 30px;
    }
    
}

/* other products */


/* banner */
.banner{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    background-color: rgba(207, 204, 204, 0.822);
    z-index: 0;
}

.banner .img{
    flex: 1 1 300px;
}
.banner .img img{
    margin-top: 30px;
    width: 100%;
}
.banner .content{
    flex: 1 1 400px;
    margin-top: 20px;
}
.banner .content h1{
    color: black;
    font-weight: bold;
    margin-left: 23px;
    font-size: 60px;
    text-shadow: -1px 1px 1px black;
}
.banner .content h1 span{
    color: rgb(24, 15, 158);
    text-shadow: 1px 1px 1px black;
}
#span2{
  color: orange;
}

.banner .content p{
    margin-left: 23px;
}
.btn{
    margin-left: 23px;
}
.btn button{
    width: 150px;
    height: 32px;
    letter-spacing: 3px;
    background-color: rgb(26, 42, 189);
    color: white;
    border-radius: 5px;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}
.btn button:hover{
    background-color: orange;
    color: black;
    border: none;
}

@media screen and (max-width:1200px) {
    .banner{
        height: 90vh;
    }
}

@media screen and (max-width:799px) {
    .banner{
        height: 140vh;
    }
}

@media screen and (max-width:550px) {
    .banner{
        height: 110vh;
    }
}

@media screen and (max-width:420px) {
    .banner .content h1{
        font-size: 45px;
    }
}
@media screen and (max-width:320px) {
    .banner .content h1{
        font-size: 40px ;
    }
}
/* banner */ 


/* other */

#other .card{
    /* box-shadow: black 0px 4px 10px 0px; */
    -webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
-moz-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
}
#other .card h3{
    margin-top: 10px;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    letter-spacing: 3px;
}
#other .card p{
    margin-top: 5px;
    color: white;
    text-shadow: 0px 1px 1px black;
    font-weight: bold;
    letter-spacing: 3px;
}
/* other */


/* newsletter */

#newsletter h3{
    letter-spacing: 3px;
}
.input input{
    width: 350px;
    height: 36px;
    border: 1px solid black;
    letter-spacing: 2px;
    border-radius: 10px;
    padding-left: 5px;
}
#subscribe{
    width: 200px;
    height: 36px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
    margin-left: 10px;
}

@media screen and (max-width:465px) {
  
    .input input {
        width: 280px;
    }
    #subscribe{
        margin-top: 10px;

    }
} 

@media screen and (max-width:250px) {
  
    .input input {
        width: 150px;
    }
    #subscribe{
        width: 150px;

    }
} 

/* newsletter */

/* footer */
#footer{
    padding: 0px 0px 30px 0px;
    color: white;
    font-size: 20px;
    background-color: rgb(14, 172, 177);
}

#footer .footer-top{
    padding: 60px 0px 30px;
    background-color:  rgb(14, 172, 177);
    color: white;
}
#footer .footer-top .footer-contact{
    margin-top: 30px;
}

#footer .footer-top .footer-contact h3{
    color: rgb(13, 33, 204);
    font-size: 30px;
}

/* #footer .footer-top .footer-contact h4{
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 800;
} */
#footer .footer-top .footer-contact p{
    font-size: 20px;
    line-height: 21px;
    margin-bottom: 0;
    color: white;
}
#footer .footer-top  h4{
    font-size: 22px;
    font-weight: bold;
    /* position: relative; */
    padding-bottom: 12px;
}
#footer .footer-top .footer-links{
    margin-top: 40px;
    /* margin-bottom: 30px; */
}
#footer .footer-top .footer-links h4{
    color: rgb(0, 4, 255);
}
#footer .footer-top .footer-links ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#footer .footer-top .footer-links ul li{
   padding: 10px;
   display: flex;
   align-items: center;
}

#footer .footer-top .footer-links ul li a{
   text-decoration: none;
   color: white;
   /* display: inline-block; */
   line-height: 1;
   font-weight: bold;
   transition: .5s ease;
 }
 #footer .footer-top .footer-links ul li a:hover{
    color: rgb(59, 30, 190);
 }

 #footer .footer-top .social-links a{
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    background-color: black;
    color: white;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    transition: .5s ease;
 }
 #footer .footer-top .social-links a:hover{
    background-color: rgb(45, 17, 170);
    color: white;
 }
 #footer .copyright{
    text-align: center;
 }
/* footer */

/* html{
    scroll-behavior: smooth;
}
.arrow{
    position: fixed;
    margin-bottom: 120px;
    width: 5px;
    height: 10px;
    bottom: 50px;
    right: 350px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}  */